     body {
        margin: 0px;
        padding: 0px;
        font-family: 'Verdana';
      }

      h1,
      button {
        margin-left: 25px;
        text-align: left;
      }
		
      h1 {
        font-size: 25px;
      }

      button {
        margin-bottom: 25px;
      }

      .main {
        margin: 0px 20px;
      }

      svg {
        padding: 20px 40px;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }

      text,
      .axis text {
        font-size: 14px;
      }

      rect:hover {
        fill: Silver;
      }
